<% @tournaments.each do |tournament| %>
  <article>
    <time><%= tournament.formatted_date_range %></time>
    <h2><a href="https://start.gg/<%= tournament.slug %>" target="_blank"><%= tournament.name %></a></h2>
    <div>
      <%= tournament.formatted_location %>
    </div>

    <% @games.each do |game| %>
      <% event = tournament.events.filter { |event| event.game_slug == game.slug }.first %>
      <% if event.present? %>
        <div class="game">
          <h3 class="game-heading">
            <a href="<%= event.startgg_url %>" target="_blank">
              <%= game.name %><% if event.player_count.present? && event.player_count > 0 %>:
                <%= event.player_count.round(-1) %>+ players<% end %>
          </a>
          </h3>
          <time datetime="<%= event.start_at.strftime("%s") %>" class="event-time">
            <%= event
              .start_at
              .in_time_zone(tournament.timezone || "America/New_York")
              .strftime("%A @ %l:%M %p") %>
            (local time)
          </time>
          <ul class="players">
            <% if event.featured_entrants.present? %>
              <% event.featured_entrants.each do |entrant| %>
                <li>
                  <% if entrant.player.twitter_username.present? %>
                    <%= link_to entrant.player.tag, entrant.player.twitter_url, target: "_blank" %>
                  <% else %>
                    <%= entrant.player.tag %>
                  <% end %>
                  <% if entrant.player2.present? %>
                    /
                    <% if entrant.player2.twitter_username.present? %>
                      <%= link_to entrant.player2.tag, entrant.player2.twitter_url, target: "_blank" %>
                    <% else %>
                      <%= entrant.player2.tag %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              <li>Featured players coming soon</li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <% if tournament.start_at <= Time.now && tournament.stream_data.present? %>
      <div class="streams">
        <h3>Streams</h3>
        <ul class="streams">
          <% tournament.stream_data.map(&:deep_symbolize_keys).filter{ |stream| stream[:source].downcase.in?(['twitch', 'youtube']) }.each do |stream| %>
            <li>
              <%= stream_link(stream) %>
              <% if stream[:status]&.downcase == Tournament::STREAM_STATUS_LIVE %>
                <span class="live">Live</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </article>
<% end %>
