<h1>Smash Events</h1>

<nav>
  <form method="get" action="/">
    <label>
      <div><input type="checkbox" name="melee" value="1" <%= 'checked' if @melee %> onchange="this.form.submit()"><span></span></div>Melee
    </label>
    <label>
      <div><input type="checkbox" name="ultimate" value="1" <%= 'checked' if @ultimate %> onchange="this.form.submit()"><span></span></div>Ultimate
    </label>
  </form>
</nav>

<main>

  <% @tournaments.each do |tournament| %>
    <article>
      <time><%= date_range(tournament) %></time>
      <h2><a href="https://start.gg/<%= tournament.slug %>" target="_blank"><%= tournament.name %></a></h2>
      <div><%= tournament.city %>, <%= tournament.state %><%= ", #{tournament.country}" unless tournament.country.in? ['US', 'GB'] %></div>
      <% if player_count(tournament, melee: @melee, ultimate: @ultimate) %>
        <div><%= player_count(tournament, melee: @melee, ultimate: @ultimate) %> players</div>
      <% end %>
      <% if @melee && tournament.melee_featured_players.present? %>
        <ul class="players">
          <% tournament.melee_featured_players.each do |player| %>
            <li><%= player %></li>
          <% end %>
        </ul>
      <% end %>
      <% if @ultimate && tournament.ultimate_featured_players.present? %>
        <ul class="players">
          <% tournament.ultimate_featured_players.each do |player| %>
            <li><%= player %></li>
          <% end %>
        </ul>
      <% end %>
      <% if (!@ultimate && tournament.melee_featured_players.blank?) || (!@melee && tournament.ultimate_featured_players.blank?) || (tournament.melee_featured_players.blank? && tournament.ultimate_featured_players.blank?) %>
        <ul class="players"><li>Featured players coming soon</li></ul>
      <% end %>
    </article>
  <% end %>

</main>

<footer>
  Made with ♥ by <a href="https://twitter.com/mathssbm" target="_blank">Math</a>
</footer>
