<!DOCTYPE html>
<html>
  <head>
    <title>Smash Events: Upcoming Smash tournaments!</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Find out about the biggest upcoming Super Smash Bros. Melee, Ultimate, 64, and Rivals of Aether tournaments!">
    <link rel="shortcut icon" href="/favicon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/bzh2sqm.css">
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
