<!DOCTYPE html>
<html>
  <head>
    <title>Smash Events: upcoming Melee and Ultimate tournaments</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Find out about the biggest upcoming Super Smash Bros. Melee and Super Smash Bros. Ultimate tournaments!">
    <link rel="shortcut icon" href="/favicon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/bzh2sqm.css">
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "8a8b49ad7e714e379577148ea374edba"}'></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
