<!DOCTYPE html>
<html>
  <head>
    <title>Smash Events: Upcoming Smash tournaments!</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content="Find out about the biggest upcoming Super Smash Bros. Melee, Ultimate, 64, and Rivals of Aether tournaments!"
    >
    <link rel="shortcut icon" href="/favicon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Sentry.get_trace_propagation_meta.html_safe %>

    <link rel="stylesheet" href="https://use.typekit.net/bzh2sqm.css">
    <%= vite_client_tag %>
    <%= vite_typescript_tag "app" %>
    <%= vite_stylesheet_tag "app.scss" %>
  </head>

  <body style="<%= colors_css(action_name) %>"<%= " data-current-tag=\"#{params[:player]}\"".html_safe if params[:player] %>>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <footer>
      <p>Made with ♥ by
        <a href="https://twitter.com/mathssbm" target="_blank">Math</a>.</p>
      <p>Powered by
        <a href="https://start.gg" target="_blank">start.gg</a>.</p>
      <p>Got feedback? Is a tournament missing?<br><a href="https://discord.gg/x7E38ygc42" target="_blank">Let me know on Discord</a>!</p>
      <p>This website is
        <a href="https://github.com/jmarquis/smashevents" target="_blank">open source</a>.</p>
    </footer>

  </body>
</html>
