<%= content_for(:content) do %>
  <div class="links">
    <a href="https://twitter.com/smasheventsgg" target="_blank"><%= inline_svg_tag "twitter.svg" %></a>
    <a href="https://discord.gg/x7E38ygc42" target="_blank"><%= inline_svg_tag "discord.svg" %></a>
    <a href="/setbot" class="text-link">Setbot</a>
    <a
      href="https://www.patreon.com/smasheventsgg"
      target="_blank"
      class="text-link"
    >Patreon</a>
  </div>

  <h1><%= @h1 %></h1>

  <nav class="pages">
    <% if action_name == 'index' %>
      Upcoming events
    <% elsif params[:player].present? %>
      <%= link_to "Upcoming",
      player_path(player: params[:player], game: params[:game], games: params[:games]) %>
    <% else %>
      <%= link_to "Upcoming", root_path(game: params[:game], games: params[:games]) %>
    <% end %>
    <span>/</span>
    <% if action_name == 'past' %>
      Past events
    <% elsif params[:player].present? %>
      <%= link_to "Past",
      player_past_path(
        player: params[:player],
        game: params[:game],
        games: params[:games],
      ) %>
    <% else %>
      <%= link_to "Past", past_events_path(game: params[:game], games: params[:games]) %>
    <% end %>
  </nav>

  <nav class="game-selector">
    <% @games.each do |game| %>
      <div class="selected-game"><%= game.name %>
        <%= remove_game_link(game, @games) if @games.count > 1 %></div>
    <% end %>
    <% if @unselected_games.any? %>
      <div class="menu-container">
        <input id="menu-toggle" type="checkbox">
        <label for="menu-toggle" class="menu-toggle">+</label>
        <ul class="unselected-games">
          <% @unselected_games.each do |game| %>
            <li><%= add_game_link(game, @games) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </nav>

  <nav class="player-selector">
    <%= react_component "PlayerSelector" %>
  </nav>

  <main>
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
