<%= content_for(:content) do %>

  <div class="links">
    <a href="/" class="text-link">â† Back to Events</a>
    <a href="https://twitter.com/smasheventsgg" target="_blank"><%= inline_svg_tag "twitter.svg" %></a>
    <a href="https://discord.gg/x7E38ygc42" target="_blank"><%= inline_svg_tag "discord.svg" %></a>
  </div>

  <h1><%= @h1 %></h1>

  <main>
    <%= yield %>
  </main>

<% end %>

<%= render template: "layouts/application" %>
